<div style="background-color:#212429;width:775px;min-width:775px;margin:auto">
    <div style="padding:80px;font-family:Arial, sans-serif, 'Motiva Sans'; text-align:left;">
        <a href="https://www.zdhua.top" style="margin-bottom:45px">
            <img src="https://www.zdhua.top/img/studyfree_home.ef1f53f9.png" width="300" height="66" alt="studyFree"/>
        </a>
        <div style="font-size:36px; line-height:42px;  padding-bottom: 30px; padding-top:45px; color:#bfbfbf; font-weight:bold;">
            <span style="color: #77b9ee;">{}，</span>
        </div>
        <div style="font-size:18px; line-height:25px; color:#dbdbdb; padding-bottom: 30px;">
            看起来您正在尝试{}。此处是您访问帐户所需的 StudyFree 令牌验证码：
        </div>
        <div style="padding-top: 30px; padding-bottom: 30px; padding-left: 56px; padding-right: 56px;background-color:#17191c;">
            <div style="font-size:48px; line-height:52px; color:#3a9aed; font-weight:bold; text-align:center;">
                {}
            </div>
        </div>

        <div style="padding-top:70px">
            <p style="font-size:30px; line-height:34px; padding-bottom: 20px; color:#bfbfbf; font-weight:bold;">不是您？</p>
            <div style="font-size:18px; line-height:25px; color:#dbdbdb; padding-bottom: 30px;">
				<p>您会收到这封电子邮件，是由于有人试图登录您的 StudyFree 帐户。</p>
				<p>此电子邮件包含一个登录代码，您需要用它访问您的帐户。切勿与任何人分享此代码。</p>
				<p>这封电子邮件由系统自动生成，请勿回复。如果您需要额外帮助，请访问 www.zdhua.top</p>
			</div>
        </div>
    </div>
</div>